/* Reset */
:root {
	--main-color: hotpink;
}

body,
html {
	line-height: 2;
	font-size: 10px;
	font-family: 'Montserrat Alternates', sans-serif;
}

p {
	font-size: 1.2rem;
}

#map-cluster {
	height: 70vh;
}

.carousel-index-height {
	height: 600px;
}

.card-img-height {
	object-fit: cover;
	height: 300px;
}

.navbar-brand {
	color: rgba(255, 255, 255, 0.5) !important;
	border-bottom: 0.5rem solid transparent;
	font-size: large;
	font-style: italic;
}

.nav-link {
	padding: 0.25rem 0;
	color: rgba(255, 255, 255, 0.5);
	margin-left: 1rem;
	border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
	color: rgba(255, 255, 255, 0.5);
	border-bottom-color: rgba(255, 255, 255, 0.5);
}

.text-mid-dark {
	color: #383838 !important;
}

.text-mid {
	color: #747272 !important;
}

#next-arrow {
	margin-top: 500px;
	margin-right: 85%;
	width: 30px;
}

#prev-arrow {
	margin-top: 500px;
	margin-left: 5%;
	width: 30px;
}

.default {
	margin: 0;
	padding: 0;
}

h5 {
	line-height: 1.6;
}

.text-margin {
	margin: 0px 20px;
}

.col-md-4 {
	width: 32%;
}

.margin-bottom {
	margin-bottom: 50px;
}

.card-border {
	border-radius: 0px 0px 10px 10px;
}

.card-border2 {
	border-radius: 10px 10px 10px 10px;
}

img.card-img {
	border-radius: 10px 10px 0px 0px;
}

@media (max-width: 1400px) {
	.carousel-index-height {
		height: 500px;
	}

	.card-img-height {
		object-fit: cover;
		height: 250px;
	}

	#prev-arrow,
	#next-arrow {
		margin-top: 400px;
	}
}

@media (max-width: 1200px) {
	.carousel-index-height {
		height: 400px;
	}

	.img-width {
		width: 100%;
	}

	.card-img-height {
		object-fit: cover;
		height: 200px;
	}

	#prev-arrow,
	#next-arrow {
		margin-top: 300px;
	}
}

@media (max-width: 992px) {
	.carousel-index-height {
		height: 300px;
	}

	.card-img-height {
		object-fit: cover;
		height: 150px;
	}

	#prev-arrow,
	#next-arrow {
		margin-top: 200px;
	}
	#next-arrow {
		margin-right: 80%;
	}
}

@media (max-width: 766px) {
	.carousel-index-height {
		height: 400px;
	}

	.card-img-height {
		object-fit: cover;
		height: 300px;
	}

	#prev-arrow,
	#next-arrow {
		margin-top: 0px;
	}
	#next-arrow {
		margin-right: 5%;
	}

	.rand-mid {
		padding: 0px;
	}

	img.card-img-top-radius {
		border-radius: 10px 10px 0px 0px;
	}

	.card-border {
		border-radius: 10px 10px 10px 10px;
	}

	.carousel-radius {
		border-radius: 10px 10px 10px 10px;
	}

	#footer {
		text-align: center;
	}

	.col-md-4 {
		width: 100%;
	}
}
