<% layout('layouts/template')%>
<div class="alert alert-danger" role="alert">
	<h4 class="alert-heading"><%=err.message%></h4>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, corporis!</p>
	<hr />
</div>
