<% layout('layout/template')%>
<h1 class="py-4">Go <strong>Explore</strong></h1>
<div id="comparison-container">
	<div id="map-cluster before" style="height: 70vh"
class="d-block w-100""></div>
	<div id="map-cluster after" style="height: 70vh"
class="d-block w-100""></div>
	</div>


<script>
	const mbxToken = '<%-process.env.MAPBOX_TOKEN%>';
	const elsewheres = {features: <%-JSON.stringify(elsewheres)%>}
</script>

<script src="/javascript/map-cluster.js"></script>
