<% layout('layout/template')%>
<h1 class="py-5">Go <strong>Explore</strong></h1>
<div id="map-cluster"></div>

<script>
	const mbxToken = '<%-process.env.MAPBOX_TOKEN%>';
	const elsewheres = {features: <%-JSON.stringify(elsewheres)%>}
</script>

<script src="/javascript/map-cluster.js"></script>
