<% layout('layout/template')%>
<div class="container d-flex justify-content-center align-items-center mt-5">
	<div class="row">
		<div class="col-6">
			<div class="card shadow" style="width: 300px">
				<div class="card-body">
					<img
						src="https://source.unsplash.com/collection/289662"
						alt=""
						class="card-img-top"
						style="height: 200px"
					/>
					<h5 class="card-title">Sign In</h5>
					<form
						action="/user/sign-in"
						method="POST"
						class="needs-validation"
						novalidate
					>
						<div class="mb-3">
							<label class="form-label" for="username">Username</label>
							<input
								class="form-control"
								type="text"
								id="username"
								name="user[username]"
								required
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>

						<div class="mb-3">
							<label class="form-label" for="password">Password</label>
							<input
								class="form-control"
								type="password"
								id="password"
								name="user[password]"
								required
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<button class="btn btn-success btn-block mb-3">Sign In</button>
					</form>
				</div>

				<a href="/user/sign-up"
					><div class="card-body">
						<button class="btn btn-info btn-block" style="width: 100%">
							Sign Up
						</button>
					</div></a
				>
			</div>
		</div>
	</div>
</div>
