<% layout('layout/template')%>
<div class="container d-flex justify-content-center align-items-center mt-5">
	<div class="row">
		<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
			<div class="card shadow">
				<img
					src="https://images.pexels.com/photos/128299/pexels-photo-128299.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
					alt=""
					class="card-img-top"
				/>
				<div class="card-body">
					<h5 class="card-title">Sign In</h5>
					<form
						action="/user/sign-in"
						method="POST"
						class="needs-validation"
						novalidate
					>
						<div class="mb-3">
							<label class="form-label" for="username">Username</label>
							<input
								class="form-control"
								type="text"
								id="username"
								name="user[username]"
								required
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>

						<div class="mb-3">
							<label class="form-label" for="password">Password</label>
							<input
								class="form-control"
								type="password"
								id="password"
								name="user[password]"
								required
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<button class="btn btn-success btn-block mb-3">Sign In</button>
					</form>
				</div>
				<button class="btn btn-info btn-block">
					<a href="/user/sign-up">Sign Up</a>
				</button>
			</div>
		</div>
	</div>
</div>
