<% layout('layouts/template')%>

<nav><%- include ('../partials/nav.ejs') %></nav>
<div class="container">
	<h1>Fruits Index Page</h1>
	<ul>
		<% for (let fruit of fruits) { %>
		<li>
			<a href="/fruits/<%=fruit._id%>"> <%= fruit.name %> </a>
		</li>
		<% } %>
	</ul>
</div>
