<footer class="footer bg-dark py-3 mt-auto fixed-bottom">
	<div class="container">
		<span class="text-muted me-5"
			><p class="text-muted no-text-dec d-inline" href="/">
				&copy;Elsewhere 2021
			</p>
		</span>

		<span class="text-muted"
			><a
				class="text-muted no-text-dec"
				href="https://unsplash.com/collections"
				target="_blank"
				>Images by &copy;Unsplash</a
			>
		</span>
	</div>
</footer>
