<footer class="footer bg-dark py-3 mt-auto fixed-bottom mt-5">
	<div class="container" id="footer">
		<a
			class="text-muted text-decoration-none"
			href="https://github.com/ajose-malik"
			target="_blank"
		>
			malik ajose &copy;Elsewhere 2021
		</a>

		<a
			class="text-muted text-decoration-none ms-5"
			href="https://unsplash.com/collections"
			target="_blank"
			>images by &copy;Unsplash</a
		>
	</div>
</footer>
