<footer class="footer bg-dark py-3 mt-auto">
	<div class="container">
		<span class="text-muted px-5"
			><a class="text-muted" href="/">About &copy;Elsewhere</a>
		</span>
		<span class="text-muted"
			><a class="text-muted" href="https://unsplash.com/collections"
				>Images by &copy;Unsplash</a
			>
		</span>
	</div>
</footer>
