<nav class="navbar navbar-expand-sm navbar-dark sticky-top bg-dark p-3">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Elsewhere</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li>
					<a class="nav-link" href="/">Adventure</a>
				</li>
				<li>
					<a class="nav-link" href="/elsewhere">Explore</a>
				</li>

				<%#if(currentUser) {%>
				<li>
					<a class="nav-link" href="/elsewhere/new">Curate</a>
				</li>
				<li>
					<a class="nav-link" href="/elsewhere/collection">Collection</a>
				</li>

				<!-- searchbox -->
				<li>
					<form class="d-flex ms-3">
						<input
							class="form-control me-2"
							type="search"
							placeholder="Search"
							aria-label="Search"
						/>
						<button class="btn btn-outline-success" type="submit">
							Search
						</button>
					</form>
				</li>

				<li>
					<form action="/user/sign-out?_method=DELETE" method="POST">
						<button class="btn btn-outline-secondary ms-3" type="submit">
							Sign Out
						</button>
					</form>
				</li>

				<%#} else {%>

				<li>
					<form action="/user/sign-in">
						<button class="btn btn-outline-secondary ms-3" type="submit">
							Sign In
						</button>
					</form>
				</li>
				<%#}%>
			</ul>
		</div>
	</div>
</nav>
