/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-color: hotpink;
	--pane-padding: 5px 42px;
}

body,
html {
	line-height: 1.6;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	background: var(--main-color);
}

.container {
	display: flex;
	justify-content: center;
	margin: 50px auto;
	max-width: 800px;
}
